.login-register-container {
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.input-container {
  width: 100%;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-register-heading {
  width: 100%;
  margin: 40px 0 0 0;
  font-size: 3rem;
}

.login-register-mono {
  width: 100%;
  margin: 0 0 40px 0;
  font-size: 1.125rem;
}

.login-register-input {
  width: 400px;
  margin: 0 0 40px 0;
  padding: 30px;
}


.login-register-button {
  width: 100%;
  margin: 0 0 20px 0;
}


.illustration-container {
  display: none;
}

.login-forgot-password {
  font-weight: 500;
  color: #f57c00;
}
